**/.DS_Store
.github
config
/examples
!examples/util/*.js
/examples/util/all-examples.js
build/examples
tests
**/*.test.js
node_modules
babel.config.js
gh-pages*
.editorconfig
.eslintrc.js
.eslintignore
.gitattributes
.gitignore
.mailmap
**/*.gitkeep
.appveyor.yml
.travis.yml
.circleci/config.yml
.vscode
